:host {
    height:100%;
    width:100%;
}

.main-container {
    height:100%;
    width:100%;
    position: relative;
}

.button {
    position: absolute;
    z-index: 1000;
    background-color: black;
    border: none;
    font-size: 32px;
    color: white;
    padding: 0.2em;
    border-radius: 12px;
}

.first {
    top: 70%;
    left: 25%;
}

.second {
    top: 70%;
    left: 65%;
}